// Flex colors
@white:  #ffffff;
@light-grey:  #e9e9e9;
@med-grey:  #cdcdcd;
@dark-grey: #242121;
@xx-text: #114a80;
@xx-left: #FFFFFF;
@xx-second: #114a80;
@xx-body: #FFFFFF;
@xx-botton: #FEF2CF;

// Font family
@sans: 'Source Sans Pro', 'Roboto', 'Open Sans', 'Liberation Sans', 'DejaVu Sans', 'Verdana', 'Helvetica', 'Arial', sans-serif;
@mono: 'Source Code Pro', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

// Body
@body-bg: @xx-body;
@text-color: @xx-text;

// Links
@link-color: @dark-grey;
@link-hover-color: @xx-botton;

// Sidebar (aside)
@sidebar-bg: @xx-second;
@sidebar-text-color: @white;
@sidebar-link-color: @white;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: @xx-botton;
@btn-text-color: @xx-botton;
@btn-hover-color: @xx-botton;

// Tag cloud
@tag-bg: @xx-botton;
@tag-text-color: @dark-grey;
@tag-hover-color: @xx-botton;

// Header
@header-text-color: @med-grey;

// Footer
@footer-text-color: @med-grey;
@footer-border-color: @light-grey;

// Relativer posts
@rel-post-border-color: @light-grey;

// Nav
@nav-border-color: @light-grey;

